body {
  margin: 0;
}

#wrapper {
  box-sizing: border-box;
}

#sidebar, #content-container {
  font-size: 0.8em;
}



/*********************
Heading
**********************/
#heading {
  border: solid black 1px;
  width: 100%;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  background: grey;
  height: 100px;
  z-index: 100;
  text-align: center;
  color: white;
}

#heading h1 {
  margin: 7px auto 2px;
  font-size: 1.5em;
  text-shadow: 2px 2px 3px black;
}

#heading h2 {
  margin: 0 auto 5px;
  text-shadow: 2px 2px 3px black;
}

#skip-to {
    text-align: center;
    position: relative;
    bottom: 10px;
}

#skip-to ul {
    display: inline-block;
    margin: 2px auto 1px;
    padding: 0 10px;


}

#skip-to li {
  list-style-type: none;
  float: left;
  margin: 1px;
}

#skip-to li:nth-child(14) {
  clear: left;
}

#skip-to a:link, #skip-to a:hover, #skip-to a:visited {
  text-decoration: none;
  padding: 4px;
  color: #0000EE;
  font-weight: bold;
  font-size: 0.9em;
  text-shadow: 1px 0px 1px #bbb;
}




/*********************
Sidebar
**********************/
#sidebarContainer {
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 102px;
  left: 0;
  z-index: 50;
  background-color: white;
  padding: 5px;
  margin: 0;
}

#sidebar {
  border: solid black 1px;
  width: 95%;
  padding: 5px;
  margin: 0 0 0 0;
}

#sidebar ul {
  padding: 0;
  margin-top: 0;
}

#sidebar ul.expandable {
  display: none;
}

#sidebar li {
  list-style-type: none;
}

#sidebar a legend, #sidebar a div {
    border-radius: 3px;
    margin-bottom: 10px;
    background: grey;
    padding: 5px;
    width: 90%;
    text-align: center;

}

#descriptions label {
  display: block;
  padding-left: 1.2em;
  text-indent: -1.3em;
}

a.sideButton:link, a.sideButton:hover, a.sideButton:visited {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px black;
}

a.buttonUp div, a.buttonUp legend {
  box-shadow: 2px 2px 5px black;
}

a.buttonDown div, a.buttonDown legend{
  box-shadow: inset 2px 2px 5px black;
}





/*********************
Main Container
**********************/
#content-container {
  width: 95%;
  margin: 0 5 0 0px;
  padding: 0 5px;
  position: relative;
  top: 265px;
  left: 0;
  z-index: 20;
}

.row {
  border: solid black 3px;
  padding: 5px;
  padding-bottom: 5px;
  margin: 0px 5px 5px 10px;
  width: 95%;
  display: none;
}

.name {
  text-decoration: none;
  color: blue;
  font-size: 1em;
  padding: 5px;
  font-size: 1.2em;
}

div.anchor {
  top: -265px;
  display: block;
  position: relative;
}

#content-container ul {
  width: 90%;
  margin: 5px 0 0;

}

#content-container li {
  list-style-type: none;
  margin: 2px 20px 2px 0;
  display: static;
}

.description {
  width: 100%;
  box-sizing: border-box;
  clear: left;
  padding: 0px;
  padding-left: 40px;
  display: none;
  margin: 0;
}

#content-container ul, .description {
  padding-left: 15px;
}

#content-container .description ul li {
  list-style-type: disc;
  display: list-item;
  float: none;

}

table {
  margin: 10px auto;
}

table.multi {
  float: left;
}

table tbody {
  display: block;
  border: solid black 1px;
}

td, th {
  padding-right: 6px;
}

.clear-fix {
  clear: both;
}



/*********************
Footer
**********************/
#footer {
  width: 100%;
  height: 10px;
  background-color: #999;
  clear: both;
  float: left;
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
}



