@media screen and (min-width: 560px) {
	/*********************
	Body
	**********************/



	/*********************
	Heading
	**********************/

	#skip-to {
		position: static;
	}

	#skip-to li:nth-child(14) {
  	clear: none;
	}


	/*********************
	Sidebar
	**********************/
	
	#sidebarContainer {
		height: 100%;
	  width: 160px;
	  display: inline-block;
	  top: 0;
	  overflow-y: auto;
	  padding: 0 0 0 5px;
	  border-bottom: none;
	  box-shadow: none;
	}

	#sidebar {
	  position: relative;
	  top: 105px;
	  overflow: hidden;
	  width: 90%;
	}


	/*********************
	Main Container
	**********************/
	
	#content-container {
	  width: calc(100% - 170px);
	  margin: 0 5px;
	  padding: 0 5px;
	  position: relative;
	  top: 105px;
	  left: 150px;
	  z-index: 20;
	}

	ul.list li {
		display: inline-block;
	}

	div.anchor {
		top: -105px;
	}
}



@media screen and (min-width: 700px) {
	
	/*********************
	Body
	**********************/

	#sidebar, #content-container {
  	font-size: 1em;
	}



	/*********************
	Heading
	**********************/
	
	#heading {
		height: 110px;
	}

	#heading h1 {
  	font-size: 2em;
	}

	#skip-to {
     top: 0px;
   }

	#skip-to a:link, #skip-to a:hover, #skip-to a:visited {
  	font-size: 1.2em;
	}



	/*********************
	Sidebar
	**********************/
	
	#sidebarContainer {
		width: 190px;
	}

	#sidebar {
		top: 115px;
	}


	/*********************
	Main Container
	**********************/
	#content-container {
		top: 115px;
		left: 180px;
		width: 70%;
	}

	div.anchor {
		top: -115px;
	}
}

